* {
    margin: 0;
    padding: 0;    
}
body{
    background: linear-gradient(green, greenyellow, yellowgreen);
    font-family: 'Montserrat', sans-serif;
}
header{
    width: 100%;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}
header img {
    margin-left: 95px;
    padding: 20px;
}
main {
    width: 100%;
    height: 600px;
    display: inline-flex;
    justify-content: center;
}
section {
    height: 50%;
}
.seccion_1{
    width: 60%;   
    border-radius: 20px;
}
.contenedorimagen{
    width: 20%;
    height: 20%;
    margin-top: 70px;
    margin-left: -80px;    
    text-align: left;
}
.ingresar-texto {
    width: 60%;
    height: 60%;
    padding-top:135px ;
    padding-bottom: 135px;
    padding-left: 15px;
    padding-right: 40px;
    resize: none;
    display: block;
    margin: auto;
    margin-top: -20px;
    border: 0;
    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif
}
.seccion-2 {
    width: 40%;
    border-radius: 20px;
}
.contenedor-img {
    width: 100%;
    height: 60%;
    margin-top: 30px;
    margin-bottom: -120px;
    text-align: center;
}
textarea{
    width: 80%;
    height: 60%;
    padding-bottom: 270px;
    padding-left: 40px;
    padding-right: 40px;
    resize: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 0;
    border-radius: 20px;
    text-align: left;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif
}
.contenedor-botones {
    text-align: center;
    margin-top: 20px;
}
.botonEncriptado,
.botonDesencriptado {
    width: 30%;
    height: 40px;
    background-color: orange;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    box-shadow: 10px 5px 5px orangered;
}
.botonCopiar{
    width: 10%;
    height: 20px;
    margin-top: 10px;
    margin-left: 45%;
    background-color: orange;
    border: 0;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-align: center;
    box-shadow: 10px 5px 5px orangered;

}
.botonEncriptado:hover {
    background-color: chartreuse;
}

.botonDesencriptado:hover {
    background-color: chartreuse;
}
.botonCopiar:hover {
    background-color: chartreuse;
}
#botonCopiar {
    display: none;
    text-align: center;
}

footer {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-style: bold;
}

